/****************************************
/* LAYOUT
/***************************************/
html {
    /* For footer support */
    position: relative;
    min-height: 100vh;
}
body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    min-height: 100vh;
    background: gray;
}

/***** CONTAINER *****/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 500px;
    border: 15px solid black;
    /* padding: 1px; */
    background: lightgray;
}
.container * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
}

/***** DISPLAY *****/
#display {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 330px;
    font-size: 52px;
}

/***** BUTTONS *****/
button {
    background: lightgray;
}

button:hover {
    background: darkgray;
}

.operator, 
#equal {
    background: lightyellow;
}

#clear {
    background: lightpink;
}

#sign,
#percentage,
#backspace {
    background: lightcyan;
}

#backspace {
    font-size: 36px;
}

